create proc [dbo].[Lesson_SelectByGroupId](@idGroup int)
as
begin
select
	l.Id,
	l.GroupID,
    l.Description,
    l.Date,
	t.Id,
	t.Name
	from dbo.Lesson l inner join dbo.Lesson_Theme lt on l.Id = lt.LessonID inner join dbo.Theme t on t.Id = lt.ThemeID
	where l.GroupID=@idGroup
end